body{
    background: url(../img/profile-bgrnd.svg) no-repeat;
    background-size: cover;
}

.profile-container{
    width: 90%;
    height: auto;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur();
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 23px;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 150px;

}
.main-info{
    position: relative;
    margin: 0 auto;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    margin-bottom: 13px;
}
.profile-title-div{
    display: flex;
    gap: 20px;
    margin-top: 26px;
    margin-left: 28px;
    align-items: center;
}

.profile-title{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 0px;
}

.name-surname{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.name, .surname{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 0px;
}

.tel-num, .email, .gender, .birthday{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 0px;
}

.tel-num, .email{
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
}

.gender-birthday{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.address-info{
    position: relative;
    margin-left: 36px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.address-title, .passport-title, .identifiaction-code-title{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 10px;
}
.appartment, .street, .city-state, .street-appartment{
    display: flex; 
}

.street-name, .building-number, .comma, .apt-abbr, .building-number, .appartment-number, .state, .city, .zip-code, .country{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 4px;
}

.city, .building-number, .appartment-number, .apt-abbr{
    margin-left: 4px;
}


.passport-data, .identification-code-data{
    position: relative;
    margin-left: 36px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.identification-code-data{
    margin-bottom: 60px;
}

.passport-data p, .identification-code-data p{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 4px;
}

.navbar{
    width: 100%;
    height: 88px;
    position: fixed;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list{
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
    list-style-type: none;
    padding-left: 0px;
}

.nav-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar-item-link-text{
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0px;
    text-decoration: none;
}

.navbar-item-link-text:hover{
    color: black;
}


.person-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    padding-bottom: 7.5px;

}